<!DOCTYPE html>
 <!--
Here is the main HTML where handlebars will render to
 -->

<!DOCTYPE html>
<html lang="en">
	<head>
	<title>GiftBuddy</title>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">

		<!-- Gifbuddy Style Sheets -->
		<link rel="stylesheet" href="/static/assets/css/normalize.css">
		<link rel="stylesheet" href="/static/assets/css/style.css">

		<!-- Login Display -->
   		<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>

		<title>Gift Buddy</title>



		<!-- JQuery and Bootstrap -->
		<script src="/static/assets/js/jquery.min.js"></script>
		<script src="/static/assets/js/bootstrap.min.js"></script>

		<script src="/static/assets/js/index.js"></script>

	</head>
	<body>
		{{{ body }}}
	
	</body>
</HTML>