<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">

		<!-- Gifbuddy Style Sheets -->
		<link rel="stylesheet" href="/static/assets/css/normalize.css">
		<link rel="stylesheet" href="/static/assets/css/style.css">

		<!-- Login Display -->
   		<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>

		<!-- JQuery and Bootstrap -->
		<script src="/static/assets/js/jquery.min.js"></script>
		<script src="/static/assets/js/bootstrap.min.js"></script>

		<title>Gift Buddy</title>

	</head>
	<body>

		<!-- All other handlebars pages are rendered here -->
		{{{ body }}}
	

		<!-- This is for the login/signup. If it is not here at the bottom, it doesn't work! -->
		<script src="/static/assets/js/index.js"></script>
	</body>
</HTML>