<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">

		<!-- Gifbuddy Style Sheets -->
		<link rel="stylesheet" href="/static/assets/css/normalize.css">
		<link rel="stylesheet" href="/static/assets/css/style.css">

		<!-- jQuery Comments -->
		<link rel="stylesheet" type="text/css" href="/static/assets/css/jquery-comments.css">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

		<!-- Login Display -->
   		<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>

		<title>Gift Buddy</title>

	</head>
	<body>

		<!-- jQuery -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

		<!-- JQuery and Bootstrap -->
		<script src="/static/assets/js/bootstrap.min.js"></script>

		<!-- All other handlebars pages are rendered here -->
		{{{ body }}}
	

		<!-- This is for the login/signup. If it is not here at the bottom, it doesn't work! -->
		<script src="/static/assets/js/index.js"></script>

	</body>
</HTML>