<!DOCTYPE HTML>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Add Group</h1>
    <p>Enter Name & Amount to create group.</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home/">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/addGroup">Add Group</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/yourAccount"><i class="fa fa-user" aria-hidden="true"></i> Your Account</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" id="addGroupForm">
	<div class="row">
		<div class="col-md-12">
			<form action="/initializeGroup" method="post">

        <div class="col-md-4">
          <div class="dropdown">
            <button style="width: 100%;" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Group Members
            <span class="caret"></span></button>
            <ul id="allUsers" class="dropdown-menu scrollable-menu" role="menu">
            {{#each users}}
              <li data-uid={{this.u_id}}>{{this.full_name}}</li>
            {{/each}}
            </ul>
          </div>
        </div>

        <div class="col-lg-4">
          <h2 class="text-center" style="margin-top: 0;">Selected Group Members</h2>
          <ul id="selectedUsers" class="list-unstyled">

            <!-- SELECTED GROUP MEMBERS GOES HERE -->

          </ul>
        </div>

        <div class="col-md-4">
          <input id="addGroupName" type="text" name="group_name" required autocomplete="off" placeholder="Name of Group" />

          <input id="addGroupAmount" type="text" name="dollar_amount" required autocomplete="off" placeholder="Amount" />

          <button id="addGroupButton" class="button button-block" type="submit">Add Group</button>
        </div>

			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
  $('#allUsers li').click(function()
    {
        $('#selectedUsers').append($(this));
    });
</script>

<footer class="container-fluid text-center" style="bottom: 0;">
  <form class="form-inline" style="font-size: 15pt;">Copyright GiftBuddy</form>
</footer>