<!DOCTYPE HTML>

<form action="/user/{{id}}/initializeGroup" method="post">

    <input type="text" name="group_name" required autocomplete="off" placeholder="name" />

    <!--<label>Password<span class="req">*</span></label> -->
    <input type="text" name="dollar_amount" required autocomplete="off" placeholder="amount" />

    <button class="button button-block" type="submit">Add Group</button>

</form>