<!DOCTYPE html>

<div class="jumbotron">
  <div class="container text-center">
    <h1>GroupPage! {{this.group_name}}</h1>
    <p>Testing</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <p>MEMBERS</p>
    <div class="col-lg-3">
      <ul class="list-unstyled">
        {{#each users}}
        <li>{{this.full_name}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="row">
    <p>DISQUS</p>
    <div class="col-lg-5">
      <!-- DISQUS WIDGET -->
    </div>
  </div>
  <div class="row">
    <p>GIFTS</p>
    <div class="col-lg-4">
      <div class="col-md-6">
        <table class="table table-bordered">
        <thead>
          <tr>
            <th><strong>Sent</strong></th>
          </tr>
        </thead>
          <tbody>
          <tr>
            <td>Item_Sent</td>
          </tr>
        </tbody>
      </table>
      </div>
      <div class="col-md-6">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th><strong>Recieved</strong></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Item_Recieved</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
