<!DOCTYPE html>
<html lang="en">
<head>
    <title>GiftBuddy</title>

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

        

</head>
<body>
{{{ body }}}
</body>
</HTML>